<div class="row">
 <div class="col-sg-12 col-md-12">
  <h3><%= @user.firstname + " " + @user.lastname %></h3>
  <hr/>
  <ul>
   <li>Email: <%= @user.email %> </li>
   <li> Role Assigned:
    <% for user in @user.roles %>
    <%= user.name %>
    <% end %>
   </li>
   <li> Times logged in <%= @user.sign_in_count %> </li>
  </ul>
  <h4> Classes Enrolled </h4>
  <ul>
  <% for batchuser in @batch_user %>
   <li><%= batchuser.batch.name %></li>
  <% end %>
 </ul>
 </div>
</div>
