<div class="row">
 <div class="col-sg-12 col-md-12">
  <h3> Welcome <%= current_user.firstname %></h3>
  <hr/>
 </div>
</div>
<div class="row">
 <% if can? :manage, :all %>
 <div class="col-sg-6 col-md-6">
  <div class="list-group">
   <div class="list-group-item">
    <div class="row-action-primary">
     <i class="mdi-social-person-add"></i>
    </div>
    <div class="row-content">
     <p><!-- leave it blank just for spacing --></p>
     <h4 class="list-group-item-heading no-url-effect"><%= link_to "Create User", new_user_path %></h4>
    </div>
   </div>
  </div>
  <div class="list-group">
   <div class="list-group-item">
    <div class="row-action-primary">
     <i class="mdi-action-assignment"></i>
    </div>
    <div class="row-content">
     <p><!-- leave it blank just for spacing --></p>
     <h4 class="list-group-item-heading no-url-effect"><%= link_to "Create batch", new_batch_path %></h4>
    </div>
   </div>
  </div>
  <div class="list-group">
   <div class="list-group-item">
    <div class="row-action-primary">
     <i class="mdi-action-list"></i>
    </div>
    <div class="row-content">
     <p><!-- leave it blank just for spacing --></p>
     <h4 class="list-group-item-heading no-url-effect"><%= link_to "Video List", videos_path %></h4>
    </div>
   </div>
  </div>
 </div><!-- end of col-xx-6 -->
 <div class="col-sg-6 col-md-6">
  <div class="list-group">
   <div class="list-group-item">
    <div class="row-action-primary">
     <i class="mdi-action-perm-contact-cal"></i>
    </div>
    <div class="row-content">
     <p><!-- leave it blank just for spacing --></p>
     <h4 class="list-group-item-heading no-url-effect"><%= link_to "List Users",users_path %></h4>
    </div>
   </div>
  </div>
  <div class="list-group">
   <div class="list-group-item">
    <div class="row-action-primary">
     <i class="mdi-action-work"></i>
    </div>
    <div class="row-content">
     <p><!-- leave it blank just for spacing --></p>
     <h4 class="list-group-item-heading no-url-effect"><%= link_to "List Batches", batches_path %></h4>
    </div>
   </div>
  </div>
 </div>

 <% else %>

 <div class="col-sg-12 col-md-12">
  <h4>List of classes enrolled</h4>
  <div class="row">
   <div class="col-md-6">
    <% if !@batch_user.empty? %>
    <% for batches in  @batch_user %>
    <div class="panel panel-default">
     <div class="panel-body">
      <%= link_to "#{batches.batch.name}", batches_batch_videos_path(:id => batches.batch.id) %>
     </div>
    </div>
    <% end %>
    <% else %>
     You're not enrolled into any classes as of now
    <% end %>
   </div>
   <div class="col-md-6">
    <!-- enmpty space to add more contents -->
   </div>
  </div>
 </div>

 <% end %>

</div> <!-- end of 1 row -->
hello world
