<%= javascript_tag do %>
$(document).ready(function(){
 $("#user-add").hide();
});
$(document).ready(function(){
 $('#list-of-student').DataTable();
 $('#tbl-user-add').DataTable();
});
<% end %>
<div class="row">
 <div class="col-sg-12 col-md-9">
  <h3> <%= @batch.name %> </h3>
  <hr/>
  <div class="well">
   <p><b>Description:</b> <%= @batch.description %> | <b>Start Date:</b> <%= @batch.start_date %></p>
  </div>
  <div class="well">
   <h3>List of student in Batch </h3>
   <% if !@batch.users.empty? %>
   <table class="table" id="list-of-student">
    <thead>
     <tr>
      <th>Name</th>
      <th>Actions</th>
     </tr>
    </thead>
    <tbody>
     <% for user in @batch.users %>
     <tr>
      <td><%= user.firstname + " " + user.lastname %> </td>
      <td><%=link_to "Delete",batch_users_delete_user_in_batch_path(user_id: user.id,batch_id: @batch.id), data:{confirm: "Are you sure to delete"} %></td>
     </tr>
     <% end %>
    </tbody>
   </table>
   <% else %>
   <p> No User found </p>
   <% end %>
  </div>
  <div class="row">
   <div class="col-sg-12 col-md-12">
    <div id="user-add" class="alert alert-success"><b> User added successfully </b> </div>
    <h3> Add user to batch </h3>
    <table class="table table-bordered" id="tbl-user-add">
     <thead>
      <tr>
       <th>Name</th>
       <th>Add</th>
      </tr>
     </thead>
     <tbody>
      <% for user in @users %>
      <tr id="user_<%= user.id %>">
       <td><%= user.firstname + " " + user.lastname %></td>
       <td><%= link_to '+', batch_users_add_user_in_batch_path(user_id: user.id,batch_id: @batch.id),remote: true %></td>
      </tr>
      <%end%>
     </tbody>
    </table>
   </div>
  </div>
  <div class="row">
   <div class="col-sg-12 col-md-12">
    <%= form_for(@video, :html => {:multipart => true})  do |f| %>
    <% if @video.errors.any? %>
    <div class="alert alert-danger">
     <h3> Errors from saving the <%= @video.class %> </h3>
     <ul>
      <% for msg in @video.errors.full_messages %>
      <li> <%= msg %></li>
      <% end %>
     </ul>
    </div>
    <% end %>

    <div class="form-group">
     <label>Upload a Video </label>
     <%= f.hidden_field :batch_id,:value => @batch.id %>
    </div>
    <div class="form-group">
     <label> Name: </label>
     <%= f.text_field :name %>
    </div>
    <div class="form-group">
     <%= f.file_field :content %>
    </div>

    <div class="form-group">
     <label>Or Chooe Url: </label>
     <%= f.text_field :file_path %>
    </div>
    <div class="form-group">
     <%= f.submit "Submit",:class => 'btn btn-success' %>
    </div>
   </div>
   <% end %>
  </div>
  <div class="row">
   <div class="col-sg-12 col-md-12">
    <h3> Video Watched in This Batch</h3>
    <table class="table table-bordered">
     <thead>
      <tr>
       <th> Username </th>
       <th> Video name </th>
       <th> Date Watched </th>
      </tr>
     </thead>
     <% for watched in  @watched_video %>
     <tr>
      <td><%= watched.user.firstname + " " + watched.user.lastname  %></td>
      <td><%= watched.video.name%></td>
      <td><%= watched.updated_at.strftime("%d %B %Y")%></td>
     </tr>
     <% end %>
    </table>
   </div>
  </div>
 </div>

 <!-- this is side bar area -->
 <div class="col-sg-12 col-md-3">
  <h3> Videos </h3>
  <table class="table table-hover">
   <% if !@videos.empty? %>
   <% for video in @videos %>
   <tr>
    <td><%= link_to "#{video.name}", video_path(video.id) %></td>
    <td><%= link_to "Edit", edit_video_path(video.id)%> </td>
    <td><%= link_to "Delete", video_path(video.id),method: :delete, data:{confirm: "Are you sure to delete this video?"} %></td>
   </tr>
   <% end %>
   <% else %>
   <div class="alert alert-dismissable alert-info">
    No Vieos available as of now!
   </div>
   <% end %>
  </table>
 </div>
</div>
